# My Ignore
/note*
/test/
/doc/
/example/
/public/
/tmp/

# VS code
/.vscode

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
/build/
/dist/
*.egg-info/

# Sphinx documentation
/docs/_build/

# PyInstaller
/standalone/*
!/standalone/compile_for_linux.sh
